<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>mvvm</title>
  </head>
  <body>
    <div>hoge</div>
    <div id="app">
      <h1>選択された画像</h1>
      <div class="selected-images">
        <img
          v-for="image in selectedImages"
          :src="image.url" 
          @click="unselect(image)"
        >
      </div>
      <h1>最近投稿された画像</h1>
      <div class="recently-posted-images">
        <img
          v-for="image in recentlyPostedImages"
          :src="image.url" 
          @click="select(image)"
        />
      </div>
    </div>
    <script src="./dist/bundle.js"></script>
  </body>
</html>
